body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  height: calc(100vh - 50px);
  width: 100vw;
  background-position: center;
  background-size: cover;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.board::-webkit-scrollbar {
  width: 6px;
}

.board::-webkit-scrollbar-thumb {
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 20px;
}

/* .board::-webkit-scrollbar-track {
  background-color: rgba(31, 30, 30, 0.3);
  border-radius: 3px;
} */

ul,
li {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* buttons */

.button-primary {
  background-color: #3490dc;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #2779bd;
}

.button-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}

.button-primary:active {
  background-color: #1c4a6e;
}

.button-secondary {
  background-color: #cccccc;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-secondary:hover {
  background-color: #999999;
}

.button-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.button-secondary:active {
  background-color: #444444;
}

.button-cancel {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cancel:hover {
  background-color: #cccccc;
}

.button-cancel:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.button-cancel:active {
  background-color: #999999;
}

/* modal */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 600px;
  max-width: 90%;
  min-height: 80vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

/* Styles for the gray overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

/* Drag and Drops*/
.droppable-active {
  background-color: #e4e4e4;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.list-scroll-bar {
  /* Other styles */
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.5);
  max-height: calc(100vh - 300px); /* Adjust the value as needed */
}

.list-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.list-scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.list-scroll-bar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
